<div class="container" data-testid="admin-container">
    <h1 data-tesid="h1-admin">Admin Panel</h1>
    <div class="user-info" data-testid="admin-info">
      <div>
      <p data-testid="admin-username"><strong>Current active Users:</strong> {{ numberOfUsers}}</p>
    </div>
    <div>
      <p data-testid="admin-username"><strong>Current active BCS:</strong> {{numberOfBcs}}</p>
    </div>
    <div>
      <p data-testid="admin-password"><strong>Current active Terms:</strong> {{ numberOfTerms }}</p>
    </div>
    </div>
     
      <div class="butons">
        <button  class="button"  (click)="DodajBC()" data-testid="addbcadmin"> Add Border Cross</button>
        <button class="button" (click)="gotoALLBCS()" data-testid="allbcs">All Border Crosses</button>
        <button class="button" (click)="gotoAllUsers()" data-testid="allusers">All Users</button>
        <button class="button" (click)="prebaciNaDelete()" data-testid="deletebc">Delete Border Cross</button>
        <button class="button" (click)="logout()" data-testid="logout">Logout</button>
      </div>
    </div>
  

