<div class="container" data-testid="admin-container">
    <h1 data-tesid="h1-admin">Admin Panel</h1>
    <div class="user-info" data-testid="admin-info">
      --<p data-testid="admin-username"><strong>Username:</strong> {{ (adminProfile$ | async).username }}</p>
      <p data-testid="admin-password"><strong>Password:</strong> {{ (adminProfile$ | async).password }}</p>
      <!-- Dodajte dodatne informacije o adminu po potrebi -->
      <button (click)="DodajBC()"> Dodaj Border cross</button>
    </div>
  </div>

