.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center; /* Centriranje teksta */
    justify-content: space-around; /* Rasporedivanje elemenata ravnomerno */
    align-items: center; /* Poravnanje po vertikali */
}

.user-info div {
    flex: 1; /* Ravnomerno raspoređivanje prostora između div-ova */
}

  
  .user-info p {
    margin-bottom: 10px;
    text-align: left; /* Ponovno postavljanje teksta na lijevu stranu */
  }
  
  .user-info strong {
    font-weight: bold;
}

.button {
  padding: 10px 20px;
margin: 0 10px;
border: none;
border-radius: 5px;
background-color: #007bff;
color: #fff;
cursor: pointer;
transition: background-color 0.3s;
}

.butons
{
  display: flex;
  flex-direction: row;
}