.Term-container {
  border: 1px solid #ccc; 
  padding: 20px; 
  width: 400px; 
  text-align: center; 
  margin: 0 auto; 
  background-color: #f0f0f0; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.Term-container h1 {
  margin-bottom: 20px; 
}

.Term-container ul {
  list-style: none; 
  padding: 0; 
}

.Term-container li {
  margin-bottom: 10px; 
}

.Term-container button {
  padding: 10px 20px; 
  margin-top: 20px; 
  border: none; 
  border-radius: 5px; 
  background-color: #007bff; 
  color: #fff;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.Term-container button:hover {
  background-color: #0056b3; 
}
