.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-info {
    margin-top: 20px;
    text-align: center; /* Centriranje teksta */
  }
  
  .user-info p {
    margin-bottom: 10px;
    text-align: left; /* Ponovno postavljanje teksta na lijevu stranu */
  }
  
  .user-info strong {
    font-weight: bold;
}
