<div class="container">
    <h1>Border Cross Details</h1>
    <div class="user-info">
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Username:</strong> @Model.Username</p>
        <p><strong>Password:</strong> @Model.Password</p>
        <p><strong>Location:</strong> @Model.Location</p>
        <p><strong>Country:</strong> @Model.Country</p>
        <p><strong>Type:</strong> @Model.Type</p>
        <p><strong>Work Hour:</strong> @Model.WorkHour</p>
        <p><strong>Transport Connections:</strong> @Model.TransportConnections</p>
        <p><strong>Capacity:</strong> @Model.Capacity</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
        <p><strong>Description:</strong> @Model.Description</p>
    </div>
</div>

