<div class="container">
    <h1>Border Cross Details</h1>
    <div class="user-info">
        <p><strong>Name:</strong> {{(bcProfile$| async).Name}}</p>
        <p><strong>Username:</strong> {{(bcProfile$| async).Username}}</p>
        <p><strong>Password:</strong> {{(bcProfile$| async).Password}}</p>
        <p><strong>Location:</strong> {{(bcProfile$| async).Location}}</p>
        <p><strong>Country:</strong> {{(bcProfile$| async).Country}}</p>
        <p><strong>Type:</strong> {{(bcProfile$| async).Type}}</p>
        <p><strong>Work Hour:</strong> {{(bcProfile$| async).WorkHour}}</p>
        <p><strong>Transport Connections:</strong> {{(bcProfile$| async).TransportConnections}}</p>
        <p><strong>Capacity:</strong> {{(bcProfile$| async).Capacity}}</p>
        <p><strong>Email:</strong> {{(bcProfile$| async).Email}}</p>
        <p><strong>Phone Number:</strong> {{(bcProfile$| async).PhoneNumber}}</p>
        <p><strong>Description:</strong> {{(bcProfile$| async).Description}}</p>
    </div>
</div>

