body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif; /* Dodajte odabrani font */
}

.mainDiv {
    border: 2px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centriranje unutar glavnog diva */
    width: 40%;
    max-width: 400px;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Puna širina unutar glavnog diva */
}

img {
    width: 100%; /* Puna širina unutar glavnog diva */
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: darkgrey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
h1{
    color:white;
}

/* Ostali stilovi, uključujući stilove za h1, h3 i ostalo */
