<div class="mainDiv">
    <h1>Create Termin</h1>
    <input type="text" placeholder="Number Of Passangers">
    <input type="text" placeholder="Car Brand">
    <input type="text" placeholder="Chassis Number">
    <input type="text" placeholder="Number Of Days">
    <input type="text" placeholder="Place of Residence">
    <input type="text" placeholder="Date Time">
    <select [(ngModel)]="selectedBC" (change)="onBorderCrossSelected()">
        <option *ngFor="let borderCross of arrBC$ | async" [value]="borderCross.name">
          {{ borderCross.name }}
        </option>
    </select>
    <img src="../../assets/kartica.png" alt="slika">
    <input type="text" placeholder="Card number">
    <button (click)="createTerm()">Create</button>
</div>
