<div class="container">
    <h1>User Details</h1>
    <div class="user-info">
        <p><strong>Name and Surname:</strong>{{(user$ | async).nameAndSurname}}</p>
        <p><strong>Email:</strong> {{(user$ | async).Email}}</p>
        <p><strong>Username:</strong> {{(user$ | async)}}.Username</p>
        <p><strong>Password:</strong> {{(user$ | async)}}.Password</p>
        <p><strong>Phone Number:</strong> {{(user$ | async)}}.PhoneNumber</p>
        <p><strong>Age:</strong> {{(user$ | async)}}.Age</p>
        <p><strong>JMBG:</strong> {{(user$ | async)}}.JMBG</p>
    </div>
</div>

