<div class="user-entity-container">
    <h1>User Entity Details</h1>
    <ul>
        <li data-testid="nameAndSurname">
            <strong>Name and Surname:</strong> {{ user.nameAndSurname }}
        </li>
        <li data-testid="email">
            <strong>Email:</strong> {{ user.email }}
        </li>
        <li data-testid="username">
            <strong>Username:</strong> {{ user.username }}
        </li>
        <li data-testid="password">
            <strong>Password:</strong> {{ user.password }}
        </li>
        <li data-testid="phoneNumber">
            <strong>Phone Number:</strong> {{ user.phoneNumber }}
        </li>
        <li data-testid="age">
            <strong>Age:</strong> {{ user.age }}
        </li>
        <li data-testid="jMBG">
            <strong>JMBG:</strong> {{ user.jmbg }}
        </li>
    </ul>
</div>
