.border-cross-container {
  background-color: #f9f9f9;
  border: 2px solid gray; 
  padding: 20px;
  border-radius: 10px;
  width: 400px; 
}

.border-cross-container h1[data-testid="bcName"] {
  text-align: center;
  margin-bottom: 10px; 
}

.border-cross-container ul {
  list-style-type: none;
  padding: 0;
}

.border-cross-container li {
  margin-bottom: 10px;
}

.border-cross-container li strong {
  font-weight: bold;
}

.border-cross-container li:last-child {
  margin-bottom: 0;
}

.border-cross-container button {
  background-color: #007bff;
  color: white; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer; 
  display: block; 
  margin: 0 auto; 
}

.border-cross-container button:hover {
  background-color:blue; 
}
