<div class="border-cross-container" data-testid="bccarddelete">
    <h1 data-testid="bcName" >{{ bc.name }} </h1>
    <h1>  <strong></strong>  </h1>
    <ul>
      <li data-testid="bcName">
        <strong>Name:</strong> {{ bc.name }}
      </li>
  
      <li data-testid="bcLocation">
        <strong>Location:</strong> {{ bc.location }}
      </li>
      <li data-testid="bcCountry">
        <strong>Country:</strong> {{ bc.country }}
      </li>
  
      <li data-testid="bcWorkour">
        <strong>WorkHour:</strong> {{ bc.workHour }}
      </li>
  
      <li data-testid="bcCapacity">
        <strong>Capacity:</strong> {{ bc.capacity }}
      </li>
      <li data-testid="bcEmail">
        <strong>Email:</strong> {{ bc.email }}
      </li>
      <li data-testid="bcPhoneNumber">
        <strong>PhoneNumber:</strong> {{ bc.phoneNumber }}
      </li>
      <li data-testid="bcDescription">
        <strong>Description:</strong> {{ bc.description }}
      </li>

      <button (click)="obrisiBC()" data-testid="delete-bc-button"> Obrisi </button>
    </ul>
  </div>
  