.border-cross-container {
  background-color: #f9f9f9;
  border: 2px solid gray; /* Smeđa boja okvira */
  padding: 20px;
  border-radius: 10px; /* Zaobljeni rubovi */
  width: 400px; /* Možete prilagoditi širinu prema potrebi */
}

.border-cross-container h1[data-testid="bcName"] {
  text-align: center;
  margin-bottom: 10px; /* Dodajte malo prostora ispod naslova */
}

.border-cross-container ul {
  list-style-type: none;
  padding: 0;
}

.border-cross-container li {
  margin-bottom: 10px;
}

.border-cross-container li strong {
  font-weight: bold;
}

.border-cross-container li:last-child {
  margin-bottom: 0;
}

.border-cross-container button {
  background-color: #007bff;
  color: white; /* Boja teksta */
  border: none;
  padding: 10px 20px; /* Dodajte prostor oko teksta dugmeta */
  border-radius: 5px;
  cursor: pointer; /* Promena kursora na pokazivač kada se pređe preko dugmeta */
  display: block; /* Da bi dugme bilo centrirano */
  margin: 0 auto; /* Centriranje dugmeta */
}

.border-cross-container button:hover {
  background-color:blue; /* Boja dugmeta prilikom prelaska preko njega */
}
