/* Osnovni stil za glavni kontejner */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 10px ;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
}

/* Stil za svaku sekciju (nameAndSurname, email, itd.) */
.nameAndsurname,
.email,
.phonenumber,
.username {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

/* Stil za paragrafe */
p {
    font-size: 18px;
    color:ivory;
    font-family: 'Poppins', sans-serif;
}

/* Stil za dugmad "promeni" i "sačuvaj promene" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin:5px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #0056b3;
}

/* Stil za input polje */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Stil za pozadinu moda */
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Stil za sadržaj moda */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Stil za dugme "sačuvaj promene" unutar moda */
.save-changes-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.save-changes-btn:hover {
    background-color: #218838;
}
h1{
    text-align: center;
}