
<div class="card">
    <h2>Term</h2>
    <div class="text">
        <p><span class="bold-text">ID:</span>{{term?.id}}</p>
        <p><span class="bold-text">Num Of Passangers:</span>{{term?.numOfPassangers}}</p>   
        <p><span class="bold-text">Car Brand:</span>{{term?.carBrand}}</p>  
        <p><span class="bold-text">Num Of Registration Plates:</span>{{term?.numOfRegistrationPlates}}</p>
        <p><span class="bold-text">Chassis Number</span>{{term?.chassisNumber}}</p>
        <p><span class="bold-text">Number Of Days:</span>{{term?.numberOfDays}}</p>
        <p><span class="bold-text">Place Of Residence:</span>{{term?.placeOfResidence}}</p>
        <p><span class="bold-text">Date And Time:</span>{{term?.dateAndTime}}</p>
        <p><span class="bold-text">Is Paid?:</span>{{term?.isPaid}}</p>
        <p><span class="bold-text">Is Crossed?:</span>{{term?.isCrossed}}</p>
        <p><span class="bold-text">IS Comeback?:</span>{{term?.isComeBack}}</p>
        <p><span class="bold-text">Irregularities:</span>{{term?.irregularities}}</p>              
    </div>
    <div class="forchange">
        <label>
            <p>Is crossed?</p>
            <input type="radio" name="gender{{term?.id}}" [(ngModel)]="isCrossed" value="Yes">Yes
            <input type="radio" name="gender{{term?.id}}" [(ngModel)]="isCrossed" value="No">No
        </label>
        <label>
            <p>Is comeback?</p>
            <input type="radio" name="gender2{{term?.id}}" [(ngModel)]="isComeBack" value="Yes">Yes
            <input type="radio" name="gender2{{term?.id}}" [(ngModel)]="isComeBack" value="No">No
        </label>
        <input placeholder="Add irregularities if any" [(ngModel)]="irregulations">
        <button (click)="change()">Save changes</button>
    </div>
</div>