<nav class="navbar navbar-expand-custom navbar-mainbg">
    
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" [routerLink]="['/allbcs']"><i class="far fa-clone"></i>Border crossings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" [routerLink]="['/login']"><i class="far fa-calendar-alt" ></i>Login/SignUp</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="big-app-info">
        <div class="app-info">
            <h1 class="bold-text">Border Booking</h1>
            <p>The purpose of this application is to provide users with a simple way to organize travel outside the borders of the Republic of Serbia, at the same time contributing to the reduction of crowds at border crossings.</p>
            <p>We aim to make travel easier and significantly reduce waiting times at border crossings, giving you the opportunity to book your trip in advance and avoid unnecessary delays.</p>
        </div>
        <img class="img-info" src="../../assets/images/info.jpg">
    </div>
    <div class="big-features">
        <div class="features">
            <h2 class="bold-text">Application specifics</h2>
            <ul>
                <li>Quick and easy reservation of border crossing appointments</li>
                <li>Reduction of waiting time at the border</li>
                <li>Overview of available dates for crossing the border</li>
            </ul>
        </div>        
    </div>
    <div class="big-how-it-works">
        <img class="img-works" src="../../assets/images/Screenshot_1.jpg.png">
        <div class="how-it-works">
            <h2 class="bold-text">How does it work</h2>
            <ol>
                <li>Reserve the time when you plan to cross the border</li>
                <li>Browse the available dates and select the desired one</li>
                <li>Book your appointment in a few clicks</li>
                <li>Track the status of your trip and stay informed about changes</li>
                <li>Enjoy faster and more efficient border crossing</li>
            </ol>
        </div>
    </div>
</div>
