
<body>
    <div class="main">
        <div class="info">
            <div class="top">
                <div class="text">
                <h1>{{(borderCross$|async)!.name}}</h1>
                <p><span class="bold-text">Location:</span> {{(borderCross$ | async)!.location}}</p>
                
                <p><span class="bold-text">Country:</span> {{(borderCross$|async)!.country}}</p>
                <p><span class="bold-text">Type:</span> {{(borderCross$|async)!.type}}</p>
                <p><span class="bold-text">Work Hour:</span> {{(borderCross$|async)!.workHour}}</p>
                <p><span class="bold-text">Transport Connection:</span> {{(borderCross$ | async)!.transportConnections}}</p>
                <p><span class="bold-text">Capacity:</span> {{(borderCross$|async)!.capacity}}</p>
                </div>
                <div class="mainImg">
                    <img src="../../assets/images/srbija.jpeg" class="zastava">
                    <div class="contact">
                        <p><span class="bold-text">Email:</span>{{(borderCross$|async)!.email}}</p>
                        <p><span class="bold-text">Phone:</span>{{(borderCross$|async)!.phoneNumber}}</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>{{(borderCross$|async)!.description}}</p>
            </div>
        </div>
       <!--<div class="slike">
            <ngx-slick-carousel class="carousel" [config]="slickCarouselConfig" #slickModal>
                <div *ngFor="let image of images" class="slika">
                    <img *ngIf="selectedImage === image" src="{{image}}" alt="Slide">
                </div>
            </ngx-slick-carousel>
            <div class="custom-navigation">
                <button (click)="previousImage()">❮</button>
                <button (click)="nextImage()">❯</button>
            </div>
        </div>-->
    </div>
</body>